# Environment variables
.env
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment


# IDE
.idea/
.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Output files
outputs/*
!outputs/.gitkeep

# System files
.DS_Store
Thumbs.db
